html, body, h1, header, input, span, form {margin: 0;  padding: 0; border: 0;  font-size: 100%;font: inherit;  vertical-align: baseline;}
header {display: block;}
body {line-height: 1;}
textarea, input { outline: none; }
header {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    cursor: default;
    width: 100%;
    color: #333;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    line-height: 48px;
    height: 48px;
    background: #fff;
    text-align: left;
}
::-webkit-scrollbar {display: none;}
#summary {
    width: 25%;
    height: 55%;
    position: absolute;
    overflow: auto;
    z-index: 3;
    top: 40%;
    left: 75%;
    color: #333;
    //padding: 5px;
    font-family: 'Lato', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    opacity: 0.9;
    border-radius: 2px;
    display: none;
}
#info-canvas {
    width: 30%;
    display: none;
    height: 30em; /* will change on load */
    position: absolute;
    overflow: auto;
    z-index: 1;
    top: 52px;
    left: 32px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.content-image {max-width: 100%;}
.left {float:left;margin-right:5px;}
.right {float:right;margin-left:5px;}
.info-content {
    word-wrap: break-word;
    color: #555;
    cursor: pointer;
    height: 10px;
    opacity: 1;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    font-family: 'Lato', sans-serif;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.info-content:hover {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}
table {
    border-spacing: 4px;
    border-collapse: separate;
}
#map-canvas {
    height: 37.5em;/* will change on load */
    overflow: auto;
    position: relative;
}
form {display: inline;}
#header-content {padding-left: 20px;}
#right-header {
    float: right;
    font-size: 70%;
    padding-right: 10px;
}
#subheader {
    font-size:60%;
    opacity: .5;
    padding-left: 1em;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#watch {
    position: absolute;
    z-index: 2;
    right:0px;
    top: 55px;
}
#field {
    border: 0;
    font-size: 14px;
    padding: 6px 12px;
    line-height: 1.5;
    text-align: center;
    color: #555;
    border-color: #fff;
    background-color: #fff;
    border-radius: 2px;
    margin: 0 auto;
    height: 15px;
    width: 130px;
}
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.item {color: #333;}
@media only screen and (max-width: 740px) {
    #info-canvas {display: none;}
    #right-header {display: none;}
    #field {display:none;}
    header {font-size: 20px;}
}
@media only screen and (max-width: 400px) {
    #header-content {padding-left: 10px;}
    header {font-size: 16px;}
    #subheader {font-size:75%;}
}
