{% raw %}
<!doctype html>
<html ng-app="app">
    <head>
        <title>NewsMapper &middot; geographically visualizing local news</title>
        
        <link rel=stylesheet href="/static/main.css" />
        <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
        <!-- <link href='http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css' rel='stylesheet' type='text/css' /> -->
        <link rel="shortcut icon" href="/static/img/favicon.ico" />


        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <meta name="author" content="the NewsMapper team" href="https://github.com/newsmapper" />
        <meta name="description" content="Weclome to NewsMapper. We're creating news visualization tools at UIUC. Tell us your email address, and we'll keep you posted with our progress." />
        <meta property="og:description" content="Weclome to NewsMapper. We're creating news visualization tools at UIUC. Tell us your email address, and we'll keep you posted with our progress." />
        <meta name="viewport" id="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />

        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC-TLHEFRk5d8lYU-hVqeHt4hfsyZVVrmQ"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="/static/data.js"></script>
        <script src="/static/main.js"></script>
    </head>
    <body>
        <header>
            <span id="header-content">
                <span>NewsMapper</span>
                <span id="subheader">
                    geographically visualizing local news
                    <span id="messages"></span>
                </span>
                <span id="right-header">
                    <form action="http://news.gdyer.de/v.php" method="get">
                        <input id="field" placeholder="subscribe to updates" name="email" type="email" required />
                    </form>
                    &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a target=_blank href="https://github.com/newsmapper">Fork us on GitHub</a>
                <span>
            </span>
        </header>
        <div id="map-canvas"></div>
        <div id="info-canvas" ng-controller="controller">
            <table>
                <tr ng-repeat="tweet in tweets">
                    <td class="info-content">{{ tweet.text }}</td>
                </tr>
            </table>
        </div>
    </body>
</html>
{% endraw %}